flows5.json
[{"id":"e7de66fc.d1e4f8","type":"tab","label":"流程6","disabled":false,"info":""},{"id":"7a46c67e.b063b8","type":"http in","z":"e7de66fc.d1e4f8","name":"Set gpio","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":110,"y":140,"wires":[["2cab7abb.7b8a06","32068a9.b20e276"]]},{"id":"2cab7abb.7b8a06","type":"function","z":"e7de66fc.d1e4f8","name":"Set to 1","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":340,"wires":[["54e0eb55.26c7b4"]]},{"id":"54e0eb55.26c7b4","type":"rpi-gpio out","z":"e7de66fc.d1e4f8","name":"","pin":"29","set":"","level":"0","freq":"","out":"out","x":440,"y":340,"wires":[]},{"id":"32068a9.b20e276","type":"function","z":"e7de66fc.d1e4f8","name":"Return Status","func":"msg.payload =\"GPIO5 set to HIGH\";\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":140,"wires":[["2d2dd783.a7ff78","ee09a26e.138f7"]]},{"id":"ee09a26e.138f7","type":"debug","z":"e7de66fc.d1e4f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":400,"wires":[]},{"id":"2d2dd783.a7ff78","type":"http response","z":"e7de66fc.d1e4f8","name":"","statusCode":"","headers":{},"x":690,"y":260,"wires":[]},{"id":"2e3f9fec.6d0a9","type":"http in","z":"e7de66fc.d1e4f8","name":"Clear GPIO5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":120,"y":420,"wires":[["8e991bb0.1f4f98","ac288e95.b8ac1"]]},{"id":"8e991bb0.1f4f98","type":"function","z":"e7de66fc.d1e4f8","name":"clear to 0","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":440,"wires":[["54e0eb55.26c7b4"]]},{"id":"ac288e95.b8ac1","type":"function","z":"e7de66fc.d1e4f8","name":"Return Status","func":"msg.payload = \"GPIO5 set to LOW\"\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":520,"wires":[["2d2dd783.a7ff78","ee09a26e.138f7"]]}]